@font-face {
    font-family: 'Herr Von Muellerhoff';
    src: url('HerrVonMuellerhoff-Regular.woff2') format('woff2'),
        url('HerrVonMuellerhoff-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

